*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: black;
}
.content{
  padding-top: 22%;
}
.name{
  font-family:Kumar One Outline;
  font-size: 35px;
}
.title{
  font-family: Indie Flower;
}
.list{
  display: inline-block;
  padding: 5px 5px;
}
.links{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: Amatic SC;
}
