*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: black;
}
.index-container{
  height: 100%;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading__name{
  font-family:Kumar One Outline;
  font-size: 2.2rem;
  padding-bottom: 0.5rem;
}
.heading__role{
  font-family: Indie Flower;
  font-size: 2rem;
}
.index-nav__list{
  display: inline-block;
  padding: 0.6rem;
}
.index-nav__links{
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-family: Amatic SC;
}

@media screen and (min-width: 600px) {
  .heading__name{
    font-size: 3.2rem;
  }
}
